{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
  Our team
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/team.css' %}">
{% endblock %}
{% block content %}
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold">Meet The Team </h1>
    <p class="text-lg">The Connection Engineers</p>
  </div>
  <div class="flex justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10">
      <div class="card bg-base-200 h-full max-w-sm hover:shadow-2xl transition-shadow duration-300" id="iliana-card">
        <figure class="h-75 bg-base-300">
          <img src="https://res.cloudinary.com/dj2lk9daf/image/upload/v1742730592/iliana_ql6oar.png" alt="An image of Iliana">
        </figure>
        <div class="card-body">
          <h2 class="card-title underline">Iliana</h2>
          <p>Music, adventure and tech, passionate about merging my worlds through code.</p>
          <h3><strong>Favourite open source project:</strong></h3>
          <p><a href="https://www.womentech.net/en-at/advice/13952/open-source-contributions">About to find out...</a></p>
          <h3><strong>Favourite Woman in Tech:</strong></h3>
          <p><a href="https://www.mpg.de/female-pioneers-of-science/Ada-Lovelace">Ada Lovelace and just starting...</a></p>
          <ul class="social-icons flex justify-center">
            <li class="list-none mx-5 mt-2">
              <a href="https://github.com/iliana-marquez" target="_blank" aria-label="Opens Github profile in new tab" class="ml-3">
                <span class="svg-container inline-block w-6 h-6">
                  <svg xmlns="http://www.w3.org/2000/svg" id="github" width="30" height="30" viewBox="0 0 24 24"><polygon points="23 9 23 15 22 15 22 17 21 17 21 19 20 19 20 20 19 20 19 21 18 21 18 22 16 22 16 23 15 23 15 18 14 18 14 17 15 17 15 16 17 16 17 15 18 15 18 14 19 14 19 9 18 9 18 6 16 6 16 7 15 7 15 8 14 8 14 7 10 7 10 8 9 8 9 7 8 7 8 6 6 6 6 9 5 9 5 14 6 14 6 15 7 15 7 16 9 16 9 18 7 18 7 17 6 17 6 16 4 16 4 17 5 17 5 19 6 19 6 20 9 20 9 23 8 23 8 22 6 22 6 21 5 21 5 20 4 20 4 19 3 19 3 17 2 17 2 15 1 15 1 9 2 9 2 7 3 7 3 5 4 5 4 4 5 4 5 3 7 3 7 2 9 2 9 1 15 1 15 2 17 2 17 3 19 3 19 4 20 4 20 5 21 5 21 7 22 7 22 9 23 9"/></svg>
                </span>
              </a>
            </li>
            <li class="list-none mx-5 mt-2">
              <a href="https://www.linkedin.com/in/iliana-marquez-3b6795339/" target="_blank" aria-label="Opens Linkedin profile in new tab" class="ml-3">
                <span class="svg-container inline-block w-6 h-6">
                  <svg xmlns="http://www.w3.org/2000/svg" id="linkedin" width="30" height="30" viewBox="0 0 24 24"><path d="m22,2v-1H2v1h-1v20h1v1h20v-1h1V2h-1Zm-9,10v8h-3v-11h3v1h1v-1h4v1h1v10h-3v-8h-3Zm-9-4v-3h3v3h-3Zm3,1v11h-3v-11h3Z"/></svg>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card bg-base-200 h-full max-w-sm hover:shadow-2xl transition-shadow duration-300" id="lucy-card">
        <figure class="h-75 bg-base-300">
          <img src="https://res.cloudinary.com/dj2lk9daf/image/upload/v1742730593/lucy_imapol.png" alt="An image of Lucy" />
        </figure>
        <div class="card-body">
          <h2 class="card-title underline">Lucy</h2>
          <p>Junior developer who has created an interactive graphic novel.</p>
          <h3><strong>Favourite open source project:</strong></h3>
          <p><a href="https://pixeliconlibrary.com/">Pixel Icon Library</a></p>
          <h3><strong>Favourite Woman in Tech:</strong></h3>
          <p><a href="https://www.hedylamarr.com/about/biography/">Hedy Lamarr</a></p>
          <ul class="social-icons flex justify-center">
            <li class="list-none mx-5 mt-2">
              <a href="https://github.com/Nexiauk" target="_blank" aria-label="Opens Github profile in new tab" class="ml-3">
                <span class="svg-container inline-block w-6 h-6">
                  <svg xmlns="http://www.w3.org/2000/svg" id="github" width="30" height="30" viewBox="0 0 24 24"><polygon points="23 9 23 15 22 15 22 17 21 17 21 19 20 19 20 20 19 20 19 21 18 21 18 22 16 22 16 23 15 23 15 18 14 18 14 17 15 17 15 16 17 16 17 15 18 15 18 14 19 14 19 9 18 9 18 6 16 6 16 7 15 7 15 8 14 8 14 7 10 7 10 8 9 8 9 7 8 7 8 6 6 6 6 9 5 9 5 14 6 14 6 15 7 15 7 16 9 16 9 18 7 18 7 17 6 17 6 16 4 16 4 17 5 17 5 19 6 19 6 20 9 20 9 23 8 23 8 22 6 22 6 21 5 21 5 20 4 20 4 19 3 19 3 17 2 17 2 15 1 15 1 9 2 9 2 7 3 7 3 5 4 5 4 4 5 4 5 3 7 3 7 2 9 2 9 1 15 1 15 2 17 2 17 3 19 3 19 4 20 4 20 5 21 5 21 7 22 7 22 9 23 9"/></svg>
                </span>
              </a>
            </li>
            <li class="list-none mx-5 mt-2">
              <a href="https://www.linkedin.com/in/lucy-sears-b3b714246/" target="_blank" aria-label="Opens Linkedin profile in new tab" class="ml-3">
                <span class="svg-container inline-block w-6 h-6">
                  <svg xmlns="http://www.w3.org/2000/svg" id="linkedin" width="30" height="30" viewBox="0 0 24 24"><path d="m22,2v-1H2v1h-1v20h1v1h20v-1h1V2h-1Zm-9,10v8h-3v-11h3v1h1v-1h4v1h1v10h-3v-8h-3Zm-9-4v-3h3v3h-3Zm3,1v11h-3v-11h3Z"/></svg>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      <div class="card bg-base-200 h-full max-w-sm hover:shadow-2xl transition-shadow duration-300" id="soroush-card">
        <figure class="h-75 bg-base-300">
          <img src="https://res.cloudinary.com/dj2lk9daf/image/upload/v1742730592/soroush_gyrsps.png" alt="An image of Soroush" />
        </figure>
        <div class="card-body">
          <h2 class="card-title underline">Soroush</h2>
          <p>Some info about Soroush Goes here.</p>
          <h3><strong>Favourite open source project:</strong></h3>
          <p>Insert project name here.</p>
          <h3><strong>Favourite Woman in Tech:</strong></h3>
          <p>Insert Fav Woman here.</p>
          <ul class="social-icons flex justify-center">
            <li class="list-none mx-5 mt-2">
              <a href="https://github.com/SoroushGReza" target="_blank" aria-label="Opens Github profile in new tab" class="ml-3">
                <span class="svg-container inline-block w-6 h-6">
                  <svg xmlns="http://www.w3.org/2000/svg" id="github" width="30" height="30" viewBox="0 0 24 24"><polygon points="23 9 23 15 22 15 22 17 21 17 21 19 20 19 20 20 19 20 19 21 18 21 18 22 16 22 16 23 15 23 15 18 14 18 14 17 15 17 15 16 17 16 17 15 18 15 18 14 19 14 19 9 18 9 18 6 16 6 16 7 15 7 15 8 14 8 14 7 10 7 10 8 9 8 9 7 8 7 8 6 6 6 6 9 5 9 5 14 6 14 6 15 7 15 7 16 9 16 9 18 7 18 7 17 6 17 6 16 4 16 4 17 5 17 5 19 6 19 6 20 9 20 9 23 8 23 8 22 6 22 6 21 5 21 5 20 4 20 4 19 3 19 3 17 2 17 2 15 1 15 1 9 2 9 2 7 3 7 3 5 4 5 4 4 5 4 5 3 7 3 7 2 9 2 9 1 15 1 15 2 17 2 17 3 19 3 19 4 20 4 20 5 21 5 21 7 22 7 22 9 23 9"/></svg>
                </span>
              </a>
            </li>
            <li class="list-none mx-5 mt-2">
              <a href="https://www.linkedin.com/in/s-gholamreza/" target="_blank" aria-label="Opens Linkedin profile in new tab" class="ml-3">
                <span class="svg-container inline-block w-6 h-6">
                  <svg xmlns="http://www.w3.org/2000/svg" id="linkedin" width="30" height="30" viewBox="0 0 24 24"><path d="m22,2v-1H2v1h-1v20h1v1h20v-1h1V2h-1Zm-9,10v8h-3v-11h3v1h1v-1h4v1h1v10h-3v-8h-3Zm-9-4v-3h3v3h-3Zm3,1v11h-3v-11h3Z"/></svg>                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
        <div class="card bg-base-200 h-full max-w-sm hover:shadow-2xl transition-shadow duration-300" id="stephen-card">
          <figure class="h-75 bg-base-300">
            <img src="https://res.cloudinary.com/dj2lk9daf/image/upload/v1742730593/stephen_s5nom0.png" alt="An image of Stephen" />
          </figure>
          <div class="card-body">
            <h2 class="card-title underline">Stephen</h2>
            <p>Fullstack Developer focusing on developing his platform <a href="https://stackportfol.io/">Stackportfol.io</a></p>
            <h3><strong>Favourite open source project:</strong></h3>
            <p><a href="https://coolify.io/">Coolify</a>
            </p>
            <h3><strong>Favourite Woman in Tech:</strong></h3>
            <p><a href="https://saron.io/">Saron Yitbarek</a></p>
            <ul class="social-icons flex justify-center">
              <li class="list-none mx-5 mt-2">
                <a href="https://github.com/stephendawsondev" target="_blank" aria-label="Opens Github profile in new tab" class="ml-3">
                  <span class="svg-container inline-block w-6 h-6">
                    <svg xmlns="http://www.w3.org/2000/svg" id="github" width="30" height="30" viewBox="0 0 24 24"><polygon points="23 9 23 15 22 15 22 17 21 17 21 19 20 19 20 20 19 20 19 21 18 21 18 22 16 22 16 23 15 23 15 18 14 18 14 17 15 17 15 16 17 16 17 15 18 15 18 14 19 14 19 9 18 9 18 6 16 6 16 7 15 7 15 8 14 8 14 7 10 7 10 8 9 8 9 7 8 7 8 6 6 6 6 9 5 9 5 14 6 14 6 15 7 15 7 16 9 16 9 18 7 18 7 17 6 17 6 16 4 16 4 17 5 17 5 19 6 19 6 20 9 20 9 23 8 23 8 22 6 22 6 21 5 21 5 20 4 20 4 19 3 19 3 17 2 17 2 15 1 15 1 9 2 9 2 7 3 7 3 5 4 5 4 4 5 4 5 3 7 3 7 2 9 2 9 1 15 1 15 2 17 2 17 3 19 3 19 4 20 4 20 5 21 5 21 7 22 7 22 9 23 9"/></svg>
                  </span>
                </a>
              </li>
              <li class="list-none mx-5 mt-2">
                <a href="https://www.linkedin.com/in/sdstephendawson" target="_blank" aria-label="Opens Linkedin profile in new tab" class="ml-3">
                  <span class="svg-container inline-block w-6 h-6">
                    <svg xmlns="http://www.w3.org/2000/svg" id="linkedin" width="30" height="30" viewBox="0 0 24 24"><path d="m22,2v-1H2v1h-1v20h1v1h20v-1h1V2h-1Zm-9,10v8h-3v-11h3v1h1v-1h4v1h1v10h-3v-8h-3Zm-9-4v-3h3v3h-3Zm3,1v11h-3v-11h3Z"/></svg>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card bg-base-200 h-full max-w-sm hover:shadow-2xl transition-shadow duration-300" id="warren-card">
          <figure class="h-75 bg-base-300">
            <img src="https://res.cloudinary.com/dj2lk9daf/image/upload/v1742730593/warren_enewr4.png" alt="An image of Warren" />
          </figure>
          <div class="card-body">
            <h2 class="card-title underline">Warren</h2>
            <p>Some info about Warren Goes here.</p>
            <h3><strong>Favourite open source project:</strong></h3>
            <p>Insert project name here.</p>
            <h3><strong>Favourite Woman in Tech:</strong></h3>
            <p>Insert Fav Woman here.</p>
            <ul class="social-icons flex justify-center">
              <li class="list-none mx-5 mt-2">
                <a href="https://github.com/Wxrren" target="_blank" aria-label="Opens Github profile in new tab" class="ml-3">
                  <span class="svg-container inline-block w-6 h-6">
                    <svg xmlns="http://www.w3.org/2000/svg" id="github" width="30" height="30" viewBox="0 0 24 24"><polygon points="23 9 23 15 22 15 22 17 21 17 21 19 20 19 20 20 19 20 19 21 18 21 18 22 16 22 16 23 15 23 15 18 14 18 14 17 15 17 15 16 17 16 17 15 18 15 18 14 19 14 19 9 18 9 18 6 16 6 16 7 15 7 15 8 14 8 14 7 10 7 10 8 9 8 9 7 8 7 8 6 6 6 6 9 5 9 5 14 6 14 6 15 7 15 7 16 9 16 9 18 7 18 7 17 6 17 6 16 4 16 4 17 5 17 5 19 6 19 6 20 9 20 9 23 8 23 8 22 6 22 6 21 5 21 5 20 4 20 4 19 3 19 3 17 2 17 2 15 1 15 1 9 2 9 2 7 3 7 3 5 4 5 4 4 5 4 5 3 7 3 7 2 9 2 9 1 15 1 15 2 17 2 17 3 19 3 19 4 20 4 20 5 21 5 21 7 22 7 22 9 23 9"/></svg>
                  </span>
                </a>
              </li>
              <li class="list-none mx-5 mt-2">
                <a href="https://www.linkedin.com/in/sdstephendawson" target="_blank" aria-label="Opens Linkedin profile in new tab" class="ml-3">
                  <span class="svg-container inline-block w-6 h-6">
                    <svg xmlns="http://www.w3.org/2000/svg" id="linkedin" width="30" height="30" viewBox="0 0 24 24"><path d="m22,2v-1H2v1h-1v20h1v1h20v-1h1V2h-1Zm-9,10v8h-3v-11h3v1h1v-1h4v1h1v10h-3v-8h-3Zm-9-4v-3h3v3h-3Zm3,1v11h-3v-11h3Z"/></svg>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
