{% extends 'base.html' %}
{% load static %}
{% block title %}Donations{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'donations/css/donations.css' %}">
{% endblock %}

{% block content %}
<h1>Make a Donation</h1>
<p>Welcome! Please fill out the form below to make a donation.</p>

<form id="payment-form">
    <div id="payment-element">
      <!--Stripe.js injects the Payment Element-->
    </div>
    <button id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay now</span>
    </button>
    <div id="payment-message" class="hidden"></div>
  </form>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'donations/js/stripe_elements.js' %}"></script>
<script src="{% static 'donations/js/complete.js' %}"></script>
{% endblock %}
