<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
  </head>
  <body>
    <img src="https://res.cloudinary.com/dj2lk9daf/image/upload/v1742648459/favicon_i9ms5f.svg" alt="Connection Engine Logo" width="50">
    <h2>Hello from Connection Engine!</h2>
    <p>We received a request to reset the password for your account.</p>
    <p>If you did not request this, please ignore this email.</p>
    <p>Otherwise, click the link below to set a new password:</p>
    <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>

    {% if username %}
      <p>In case you forgot, your username is {{ username }}.</p>
    {% endif %}

    <hr>
    <p>Thank you for using Connection Engine!</p>
    <p>Best regards,<br>Connection Engine Team</p>
  </body>
</html>
