{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Connection Engine
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block corejs %}
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}
    <!-- Favicon links -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicons/favicon.ico' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}" />
    {% block extra_css %}

    {% endblock %}
  </head>
  <body class="min-h-screen bg-base-100 flex flex-col">
    <!-- Navigation -->
    <div class="navbar bg-base-200 shadow-md">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li>
              <a href="{% url 'project_list' %}">Projects</a>
            </li>
            <li>
              <a href="{% url 'team' %}">Team</a>
            </li>

            {% if user.is_authenticated %}
              {% if user.os_maintainer_profile %}
                <li>
                  <a href="{% url 'project_dashboard' %}">My Projects</a>
                </li>
                <li>
                  <a href="{% url 'project_create' %}">Create Project</a>
                </li>
              {% endif %}
              <li>
                <a href="{% url 'profile_detail' username=user.username %}">Profile</a>
              </li>
              <li>
                <a href="{% url 'account_logout' %}">Logout</a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'account_login' %}">Login</a>
              </li>
              <li>
                <a href="{% url 'account_signup' %}">Sign Up</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <a href="{% url 'home' %}" class="btn btn-ghost text-xs md:text-xl"><div class="logo"></div></a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li>
            <a href="{% url 'project_list' %}">Projects</a>
          </li>
          <li>
            <a href="{% url 'team' %}">Team</a>
          </li>
          {% if user.is_authenticated %}
            {% if user.os_maintainer_profile %}
              <li>
                <a href="{% url 'project_dashboard' %}">My Projects</a>
              </li>
              <li>
                <a href="{% url 'project_create' %}">Create Project</a>
              </li>
            {% endif %}
            <li>
              <a href="{% url 'profile_detail' username=user.username %}">Profile</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="navbar-end">
        {% if user.is_authenticated %}
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                {% if user.profile.image %}
                  <img alt="Profile Image" src="{{ user.profile.image.url }}" />
                {% else %}
                  <div class="bg-primary text-primary-content grid place-items-center w-full h-full">{{ user.username|slice:':1'|upper }}</div>
                {% endif %}
              </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <a href="{% url 'profile_detail' username=user.username %}">Profile</a>
              </li>
              <li>
                <a href="{% url 'profile_update' %}">Settings</a>
              </li>
              <li>
                <a href="{% url 'account_logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        {% else %}
          <a href="{% url 'account_login' %}" class="btn btn-ghost hidden md:flex">Login</a>
          <a href="{% url 'account_signup' %}" class="btn btn-primary btn-retro hidden md:flex">Sign Up</a>
        {% endif %}

        <!-- Theme toggle -->
        <label class="swap swap-rotate ml-5">
          <input type="checkbox" class="theme-controller" value="light" data-key="user-theme" />
          <svg class="swap-on fill-current w-6 h-6" id="brightness-high-solid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><rect x="1" y="11" width="5" height="2"/><polygon points="4 5 3 5 3 4 4 4 4 3 5 3 5 4 6 4 6 5 7 5 7 6 8 6 8 7 7 7 7 8 6 8 6 7 5 7 5 6 4 6 4 5"/><polygon points="7 17 8 17 8 18 7 18 7 19 6 19 6 20 5 20 5 21 4 21 4 20 3 20 3 19 4 19 4 18 5 18 5 17 6 17 6 16 7 16 7 17"/><rect x="11" y="18" width="2" height="5"/><rect x="11" y="1" width="2" height="5"/><polygon points="20 19 21 19 21 20 20 20 20 21 19 21 19 20 18 20 18 19 17 19 17 18 16 18 16 17 17 17 17 16 18 16 18 17 19 17 19 18 20 18 20 19"/><rect x="18" y="11" width="5" height="2"/><polygon points="17 7 16 7 16 6 17 6 17 5 18 5 18 4 19 4 19 3 20 3 20 4 21 4 21 5 20 5 20 6 19 6 19 7 18 7 18 8 17 8 17 7"/><polygon points="16 16 14 16 14 17 10 17 10 16 8 16 8 14 7 14 7 10 8 10 8 8 10 8 10 7 14 7 14 8 16 8 16 10 17 10 17 14 16 14 16 16"/></svg>
          <svg class="swap-off fill-current w-6 h-6" id="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m21,17v1h-2v1h-4v-1h-2v-1h-2v-1h-1v-2h-1v-2h-1v-4h1v-2h1v-2h1v-1h2v-1h2v-1h-5v1h-2v1h-2v1h-1v1h-1v2h-1v2h-1v6h1v2h1v2h1v1h1v1h2v1h2v1h6v-1h2v-1h2v-1h1v-1h1v-2h-1Zm-13,3v-1h-2v-2h-1v-2h-1v-6h1v-2h1v-2h2v1h-1v2h-1v4h1v2h1v2h1v1h1v1h1v1h2v1h2v1h-5v-1h-2Z"/></svg>
        </label>
      </div>
    </div>

    <!-- Messages -->
    {% if messages %}
      <div class="toast toast-bottom toast-end z-40">
        {% for message in messages %}
          <div class="alert {% if message.tags == 'error' %}

              alert-error

            {% elif message.tags == 'success' %}

              alert-success

            {% elif message.tags == 'info' %}

              alert-info

            {% elif message.tags == 'warning' %}

              alert-warning

            {% else %}

              alert-info

            {% endif %}">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Main Content -->
    <main class="flex-grow container mx-auto px-4 py-8">
      {% block content %}

      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer footer-center p-10 bg-base-200 text-base-content">
      <div>
        <p class="footer">
          Copyright ©{% now 'Y' %}- All rights reserved
        </p>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_js %}

    {% endblock %}
  </body>
</html>
